html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100%;
}

#panel {
    position: absolute;
    top: 5px;
    left: 20%;
    margin-left: -180px;
    z-index: 5;
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #999;
}
